body{
  font-family:"Times New Roman",Times,serif,"Calisto MT", "Avenir Next","Helvetica Neue",Avenir,Helvetica,"Lantinghei SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
  color:#333;
  background: #eee;
  padding:40px 0 0 0;
  position: relative;
  margin:0;

}



p{
  font-size: 18px;
  line-height: 1.45;
  margin-bottom: 15px;
}

.muted,p.muted{
  color:#999;
}

p.code{
  background: #fff;
  border:1px solid #ccc;
  padding:10px;
}

code{
  color:deeppink;
  font-size: 14px;
}

.important{
  color: #ff4500;
}

.main{
   width:960px;
   min-height:700px;
   margin:0 auto;
}

a{
	color:#4078c0;
}

a:hover{
	color:#000;
}


.pull-right{
  float:right;
}




.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clearfix:after {
  clear: both;
}


.italic{
  font-style: italic;
}

.container{
	width: 960px;
	margin:0 auto;

}

.container-main{
	margin-top:40px;

}

.container-index{

  padding:1px 0;
}

.content{
  margin:50px 0;
}


footer{
  min-height: 100px;

  border-top: 1px dotted #ccc;
  padding:1px 0;
  color:#888;

}
footer p{
  font-size: 16px;
}

.footer-content{
  margin:10px 0;
}


.navbar{
	top:0;
	left:0;
	right:0;
	height:40px;
	position: fixed;
	background: rgba(0,0,0,.8);
  z-index: 999;
}

.brand{
	width:200px;
	float:right;
	line-height: 40px;
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	text-align: right;
	color:#666;
}

.nav{
	list-style: none;
	margin:0;
	padding:0;

}

.nav li{
	float:left;
	text-align: center;
}

.nav li a{
	display: block;
	padding:10px 35px;
	color:#eee;
	text-decoration: none;
}

.nav li a:hover{
	text-decoration: underline;
}

.nav li.active a{
	background: rgba(80,80,80,.7);
}

.side-nav{
	width:150px;
	float: left;
	list-style: none;
	margin:0;
	padding: 0;
}

.side-nav li{
	font-weight: bold;
}

.side-nav li a{
	display: block;
	padding:10px 15px;
	text-decoration: none;
	border-bottom: 1px solid #222;
}

.side-nav li a:hover{
	color: #e00;
}

.col-main{
	margin-left:200px;
}

/*.container-doc{*/
  /*padding-top:60px;*/
/*}*/

#indexDemo{
  width:500px;
  height:320px;
  margin:20px auto;
  background: #222;
  position: relative;
}

#indexDemo #showBox{
  width:100%;
  height:100%;
  position: absolute;
  overflow: hidden;
  text-align: center;
  color:#fff;
}

#indexDemo .page{
  padding-top:50px;
}


#banner{

  height:440px;
  margin:-40px 0 0 0;
  padding:1px 0;
  background: #5b2042 url(../img/bg-banner.jpg);
  /*background: -webkit-linear-gradient(#73552e,#ba9b78);*/
  /*background: -o-linear-gradient(#73552e,#ba9b78);*/
  /*background: -moz-linear-gradient(#73552e, #ba9b78);*/
  /*background: linear-gradient(#73552e,#ba9b78);*/
  color:#fff;
  overflow: hidden;
  position: relative;
}

#banner p,h1,h2{
  margin:0;
  padding: 0;
}


#banner .intro h2{

  margin-bottom: 20px;
}

#banner .circle{
   border:2px solid #FFF;
   border-radius: 200px;
   width:90px;
   height:90px;
   line-height: 90px;
   font-size: 28px;
   text-align: center;
}
#banner .feature{

}

#banner .feature h1{
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 20px;
}





/*----------------demo container -------------------*/




.demo-container{
   position: relative;

   margin:0 auto;
   border-radius: 20px;
   border:20px solid #666;
   overflow: hidden;
   background: #fff;
}

.container-pad{
   width:750px;
   height:562px;
}

.container-phoneh{
   width:568px;
   height:320px;
}

.container-phone{
    width:320px;
   height:568px;
}

.size-options{

   height:70px;
   margin: 20px 0 20px 0;
   border-bottom: 1px solid #333;
}

ul.phone-sizes{

   list-style: none;
   margin:0 auto;
   padding:0;
   height:70px;
   width:460px;
}

ul.phone-sizes li{
   color:#aaa;
   height:70px;
   width:150px;
   float:left;
   text-align: center;
   cursor: pointer;
}

.icon{
   border:2px solid #aaa;
   border-radius: 2px;

}



ul.phone-sizes li.active{
   color:#333;
}

ul.phone-sizes li.active .icon{
   border:2px solid #333;
}



.icon-phone{
   width:20px;
   height:35px;
   margin:0 auto;

}

.icon-phoneh{
   width:35px;
   height:20px;
   margin:7px auto;
}

.icon-pad{
   width:46px;
   height:35px;
   margin:0 auto;
}

.line{
  margin-bottom: 5px;
}

/*----------------demo pages and sprites -------------------*/

.start-page{
   color:#f2f2f2;
}

.start-page a{
 color:#eee;
 text-decoration: none;
}

.start-page  a:hover{
 color:#fff;
}

.hello{
 font-family: 'Aparajita';
 font-size: 28px;
 font-weight: normal;
 font-style: italic;
}



.color1{
  background:rgba(252,224,232,.8);
}
.color2{
  background:rgba(220,156,222,.8);
}

.color3{
  background:rgba(221,237,240,.8);
}

.color4{
  background:rgba(251,235,209,1);
}

.skew{
   transform:skewY(-30deg);
}

.circle1{
   border-radius: 1000px;
   background: rgba(0,0,0,0);
   border:30px solid #5eb0e5;
   box-shadow: 0 10px 20px #999;
}

.circle2{
   border-radius: 1000px;
   background: rgba(0,0,0,0);
   border:30px solid #00b38a;
   box-shadow: 0 10px 20px #999;
}

.squareBorder1{
   background: rgba(0,0,0,0);
   border:30px solid #e33d97;
   transform:rotate(45deg);
   box-shadow: 0 10px 20px #999;

}

.photo1{
   border:12px solid #eee;
   box-shadow: 0 10px 20px #999;

}


/*--------- docs ------------*/

.side-nav-doc{
  position: fixed;
}

#intro,#config,#layout,#animation{
  padding-top: 40px;
}


.example-container{
  min-height: 100px;
}

.example-container .example-code,
.example-container .example-demo{
  min-height: 200px;
}

.example-container .example-code{
  float:left;
  width:68%;
}

.example-container .example-demo{
  width:30%;
  float:right;
}

.example-container .prettyprinted{
  min-height: 180px;
  margin:0;
  overflow: scroll;
}


.example-container .example-demo{
  height:200px;
  overflow: hidden;
}

.example-box{
  background: #222;
  color:#fff;
  font-size: 10px;
  font-family: Menlo, 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

.example-layout-el{
  background: #555;
  border:1px solid #aaa;
}





/*----- Icon moon -----*/




@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot?fem7z2');
  src:url('../fonts/icomoon.eot?#iefixfem7z2') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?fem7z2') format('truetype'),
  url('../fonts/icomoon.woff?fem7z2') format('woff'),
  url('../fonts/icomoon.svg?fem7z2#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paint-format:before {
  content: "\e90c";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-magic-wand:before {
  content: "\e997";
}
